<% @search_result.each do |result| %>
  <!--
    <li role='option'><%= result %></li>
  -->
  <li role='option'
    class="relative bg-white py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <!--
  -->
  <!--
-->

        <a target='_blank' href="<%= link_link(result[1], result[0]) %>" class="block focus:outlink-none">
          <span class="absolute inset-0" aria-hidden="true"></span>
          <p class="text-sm font-medium text-gray-900"><%= notify result[0] %></p>
        </a>
  <!--
        -->

        <!--
            <p class="text-sm text-gray-500 truncate">Velit placeat sit ducimus non sed</p>
  -->
  
      </div>
      <!--
  
        <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">1d ago</time>
  -->
    </div>
    <!--
      <div class="mt-1">
        <p class="link-clamp-2 text-sm text-gray-600">
          Doloremque dolorem maiores assumenda dolorem facilis. Velit vel in a rerum natus facere. Enim rerum eaque qui facilis. Numquam laudantium sed id dolores omnis in. Eos reiciendis deserunt maiores et accusamus quod dolor.
        </p>
      </div>
  -->
  
  </li>
  <% end %>
  